# ESP-IDF build artifacts
build/
sdkconfig
sdkconfig.old
sdkconfig.local


# IDE
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Dependencies managed by IDF Component Manager
managed_components/
dependencies.lock
*.pyc
.cache
